* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../images/pyramid.png");
    background-repeat: repeat;
}

.pic-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pic {
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    padding: 5%;
    width:50%;

}
