
html {
    background: rgb(175, 173, 173);
}


body {
    background: white;
    position: absolute;
    width: 80%;
    height: 80%;
    margin:0px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0px;
}

#wrap {
    background: grey;
    width: 100%;

}

header {
    background: yellow;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 36px;
    margin: 0px;
    padding: 0px;
}

p {
    margin:0;
    padding:0;
}
nav {
    display: inline-block;
    background: green;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
}


nav > ul {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav > ul > li {
    display: inline-block;
    background: black;
    height: 48px;
    line-height: 48px;
    padding: 0px 25px 0px 50px;
}

nav ul > li > a {
    color: white;
    text-decoration: none;
}

aside {
    position: absolute;
    right: 0;
    display: block;
    width: 20%;
    height: 90%;
    background: white;
    background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: 100%;

}

aside a{
    color: blue;
    font-size: 26px;
}

aside li {
    text-align: justify;

}

aside ul {
    margin: 0;
    margin-left: 3em;
    padding:0;
}

#content, footer {
    position: relative;
    left:0;
    width:80%;

}

#content {
    background: grey;
}

#content p {
    font-size: 26px;
}

#content ul {
    margin:0;
    Padding:0;
    list-style: none;

}

#content li {
    margin:0;
    padding:0;
    font-size: 26px;
    text-align: center;

}

footer {
    background: green;
    clear: both;
}

footer p{
    padding: 1em .5em;
    font-size: 26px;
}