@media (min-width: 650px) {
    .top-nav{
        text-align: center;
    }
    .top-nav ul{
        list-style-type: none;
        padding: 0;
        background-color: #211D24; /*CHANGE*/
        margin: 0;
        display: inline-block;
    }
    .top-nav ul li, .menu-icon{
        border-top: 1px solid rgb(255, 255, 0); /*CHANGE*/
    }
    .top-nav ul li a{
        font-size: 1em;
        color: #DDDDDA; /*CHANGE*/
        text-decoration: none;
        padding: .5em 1em;
        display: inline-block;
        text-align: center;
    }
    .top-nav li{
        float: left;
    }
}